
# Dependency directories
**/node_modules/
**/**/tailwindcss/output.css

## python
**/.venv

## cwiczena / dema
cwiczenia/*_js_ts_stack/example
cwiczenia/*_js_ts_stack/helloworld
cwiczenia/*_js_ts_stack/pai*
