
# Dependency directories
**/node_modules/
**/**/tailwindcss/output.css

## python
**/.venv

## cwiczena / dema
cwiczenia/*_js_ts_stack/example
cwiczenia/*_js_ts_stack/helloworld
cwiczenia/*_js_ts_stack/pai*

cwiczenia/*_react_frontend/pai*
cwiczenia/**/tmp

## database, examples with sqlite
**/prisma/**.db
**/prisma/**.db-journal
**/prisma/migrations/**


## database, exercise
**/05_baza_danych/example_app/index.js
**/05_baza_danych/*/dist/
**/05_baza_danych/example_app/dev.sqlite3

##
**/core

